* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  ---dark1: #121212;
  ---dark2: #2e2e2e;
  ---light1: #6366f1;
  ---light2: #1e1e1e;
  ---colorMain: #6366f1;
  ---cadaan: #fff;
  ---casaan: #fb3f3f;
  /* scroll-behavior: smooth; */
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column; */
  color: #fff;
  background-color: var(---light2);
  width: 100%;
  height: 1400px;
  position: relative;
}

div.home {
  width: 100%;
  height: 500px;
  background-color: var(---colorMain);
  margin: 10px 0px;
}

div.serv {
  width: 100%;
  height: 500px;
  background-color: var(---casaan);
}
div.nav {
  width: 100%;
  height: 500px;
  background-color: var(---cadaan);
}

div.totop {
  width: 40px;
  height: 40px;
  background-color: #e600d6;
  border-radius: 2px;
  position: fixed;
  bottom: 150px;
  right: 20px;
  cursor: pointer;
  visibility: hidden;
  transform: translate(10px, 10px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

div.totop.active {
  visibility: visible;
  transform: translate(10px, 10px);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

div.main_div {
  width: 500px;
  height: 400px;
  background-color: red;
  overflow-y: scroll;
}

div.child {
  width: 100%;
  height: 700px;
}

div.btns {
  position: fixed;
}
/* 
form {
  width: 150px;
  height: 100px;
  margin-top: 20%;
  background-color: var(---colorMain);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  border-radius: 2px;
}

div.maininputs {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
  margin-top: 10px;
}

h3 {
  font-size: 0.7rem;
  color: #fff;
}

input {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
}
button {
  width: 100%;
  background-color: var(---colorMain);
  color: #fff;
  outline: none;
  border: none;
  height: 35px;
  margin: 10px 0px;
  cursor: pointer;
} */
/* 
.faq-container {
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.faq-title {
  font-size: 28px;
  font-weight: bold;
  color: #6366f1;
}
.faq-item {
  border-bottom: 1px solid #6366f1;
  padding: 15px 0;
  cursor: pointer;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.faq-answer {
  width: 300px;
  display: none;
  padding-top: 10px;
  color: #666;
}
.icon {
  transition: transform 0.3s ease;
}

.icon img {
  width: 10px;
  height: 10px;
  color: #6366f1;
}
.faq-item.active .faq-answer {
  display: block;
}
.faq-item.active .icon {
  transform: rotate(180deg);
} */

ul {
  padding: 0px;
  margin: 5px 10px;
}

li {
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

li span {
  display: none;
}

li.active {
  background-color: #6366f1;
  color: #fff;
}

li.active span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #e600d6;
  color: #fff;
  border-radius: 50%;
}

button.close {
  width: 100px;
  height: 50px;
  background-color: #6366f1;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  transition: all 0.5s ease-in;
  border: none;
  margin: 100px 50px;
  cursor: pointer;
}

button.close:hover {
  background-color: #fb3f3f;
  transition: all 0.5s ease-in;
}
