* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  ---dark1: #121212;
  ---dark2: #2e2e2e;
  ---light1: #6366f1;
  ---light2: #1e1e1e;
  ---colorMain: #6366f1;
  ---cadaan: #fff;
  ---casaan: #fb3f3f;
}

body {
  height: 100vh;
  background-color: var(---dark2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

form {
  width: 200px;
  height: 230px;
  background-color: var(---dark1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap row;
  border-radius: 2px;
  padding: 10px 10px;
}

div.maininputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: flex-start;
  align-content: center;
}

h3 {
  font-size: 0.7rem;
  color: var(---light1);
  text-align: left;
  margin-bottom: 5px;
}

input {
  background-color: var(---dark1);
  color: var(---light1);
  font-size: 0.6em;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  margin: 5px 0px;
  border: solid 0.5px #6366f1;
  border-radius: 3px;
}

input.Error {
  border: solid 0.5px var(---casaan);
}

p {
  color: var(---casaan);
  font-size: 0.6em;
  text-align: center;
  visibility: hidden;
}

p.active {
  visibility: visible;
}

button {
  width: 100%;
  background-color: var(---colorMain);
  color: #fff;
  outline: none;
  border: none;
  height: 35px;
  margin: 10px 0px;
}
