* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  ---dark1: #121212;
  ---dark2: #2e2e2e;
  ---light1: #6366f1;
  ---light2: #1e1e1e;
  ---colorMain: #6366f1;
  ---cadaan: #fff;
}

body {
  background-color: var(---dark1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

form {
  width: 350px;
  height: 300px;
  background-color: var(---colorMain);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  border-radius: 2px;
  margin: 15%;
}

div.maininputs {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
}

h3 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 15px;
}

input {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}
input:focus {
  background-color: #37ff00c8;
  color: #fff;
}

input.add {
  background-color: #37ff00c8;
  color: #fff;
}
